{{ define "breadcrumb" }}


{{ end }}

{{define "content"}}
    <div class="panel panel-default">
        <div class="panel-body">
            
        </div>
    </div>

{{end}}


{{define "sidebar"}}

{{end}}

{{define "scripts"}}

{{end}}
