{{ define "breadcrumb" }}


{{ end }}

{{define "content"}}
    <div class="panel panel-default">
        <div class="panel-heading">
            Load Balancer
        </div>
        <div class="panel-body">
            <h3> Add, Update, Remove, List Load Balancers </h3>
        </div>

    </div>

{{end}}


{{define "sidebar"}}

{{end}}

{{define "scripts"}}

{{end}}
